[Unit]
Description=Eco Server
StartLimitIntervalSec=180s
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=15min
TimeoutStopSec=15min
User=eco
Group=eco
WorkingDirectory=/home/eco/server
EnvironmentFile=/etc/environment
# ExecStartPre=echo "===Reinstalling server"
# ExecStartPre=/usr/games/steamcmd +force_install_dir /home/eco/server/ +login anonymous +app_update 739590 +quit
ExecStartPre=echo "===Prerun server"
ExecStartPre=/bin/bash -c "/home/eco/prerun.sh"
ExecStartPre=echo "===Run server"
ExecStart=/bin/bash -c "/home/eco/run.sh"
# ExecStop=/bin/bash -c "killall -SIGINT srcds_linux"
# ExecStop=/bin/kill -s SIGINT -$MAINPID & /bin/kill -s SIGINT -$MAINPID
ExecStopPost=echo "===Stopped server"
StandardOutput=append:/var/log/eco/app.log
StandardError=append:/var/log/eco/err.log
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
