[Unit]
Description=Satisfactory dedicated server
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Environment="LD_LIBRARY_PATH=./linux64"
ExecStartPre=/usr/games/steamcmd +force_install_dir "/home/satisfactory/SatisfactoryDedicatedServer" +login anonymous +app_update 1690800 validate +quit
# ExecStart=/home/satisfactory/SatisfactoryDedicatedServer/FactoryServer.sh -multihome=::
ExecStart=/home/satisfactory/SatisfactoryDedicatedServer/FactoryServer.sh
User=satisfactory
Group=satisfactory
StandardOutput=journal
Restart=on-failure
WorkingDirectory=/home/satisfactory/SatisfactoryDedicatedServer
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target