[Unit]
Description=Swatchdog Minecraft bedrock service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=swatchdog -c '/var/server/server2/services/swatchdog/minecraft_bedrock.conf' -t /var/log/minecraft_bedrock/*.log
Restart=always
RestartSec=1
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target