[Unit]
Description=Swatchdog Rust service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=swatchdog -c '/var/server/services/swatchdog/rust.conf' -t /var/log/rust/app.log
Restart=always
RestartSec=1
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target