[Unit]
Description=Swatchdog Minecraft MI service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=swatchdog -c '/var/server/services/swatchdog/minecraft_mi.conf' -t /var/log/minecraft_mi/*.log
Restart=always
RestartSec=1
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target