[Unit]
Description=Swatchdog Eco service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=swatchdog -c '/var/server/server2/services/swatchdog/eco-chat.conf' -t "/home/eco/server/Logs/Chat/Channel/General/*.log"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target