[Unit]
Description=Swatchdog Minecraft java service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=swatchdog -c '/var/server/server2/services/swatchdog/minecraft_java.conf' -t /var/log/minecraft_java/*.log
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target