[Unit]
Description=Swatchdog Eco service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=swatchdog -c '/var/server/services/swatchdog/eco.conf' -t "/var/log/eco/app.log"
Restart=always
RestartSec=1
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target