[Unit]
Description=Minecraft Java Service
After=network-online.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/server_java
Type=simple
Restart=always
ExecStartPre=echo "Starting server..."
ExecStart=/usr/lib/jvm/java-21-openjdk-amd64/bin/java -Xmx4048M -Xms4048M -jar server.jar nogui
ExecStartPost=echo "Started server (service)"
ExecStopPost=echo "Stopped server"
TimeoutStartSec=600
StandardOutput=append:/var/log/minecraft_java/app.log
StandardError=append:/var/log/minecraft_java/err.log


[Install]
WantedBy=multi-user.target
